body {
  padding: 999999px;
  background-color: grey;
}

.containers {
  display: flex; /* Ensures containers are displayed in a row */
  justify-content: center; /* Centers containers horizontally */
  padding: 20px; /* Adds padding around containers */
}

.container {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: white; /* Sets background color inside containers */
}
