h1 {
  font-family: 'Arial', sans-serif;
  padding-bottom: 20px;
}

a {
  display: inline-block;
  margin: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(150, 130, 166, 0.1);
  color: #fff;
  text-decoration: none;
  border-radius: 90px;
  margin-left: 765px;
  margin-bottom: 260px;
  transition: all 2s;
}

.btn:hover {
  background-color: rgb(172, 151, 190, 0.1);
}

.item {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: black;
  background-color: rgba(240, 255, 240,0.589);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
  min-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item img {
  max-width: 135px;
  min-width: 135px;
  border-radius: 6px;
}

.item:visited,
.item:hover,
.item:link,
.item:active {
  text-decoration: none;
  color: dark-grey;
}
