body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#searchInput {
  width: 600px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid rgb(300,100,220,0.1);
  border-radius: 4px;
  background-color: rgb(200,80,220,0.8);
}

#itemList {
  list-style-type: none;
  padding: 0;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: rgb(200,80,220,0.8);
}
