body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#searchInput {
  width: 1100px;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
  border: 1px solid rgba(300,100,220,0.4);
  border-radius: 50px;
  background-color: rgba(230, 240, 255,0.3);
}

#itemList {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
  text-decoration: none;
}

.item {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: black;
  background-color: rgba(240, 255, 240,0.589);
  text-decoration: none;
}

.item:visited,
.item:hover,
.item:link,
.item:active {
  text-decoration: none;
  color: dark-grey;
}
