input {
  width: 600px;
  height: 20px;
  border-radius: 5px;
  border-decoration: none;
  text-decoration: none;
  background-color: rgb(200,80,210,0.4);
  margin-left: 35px;
}

li:a {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  size: 10px;
}

li {
  font-family: sans-serif;
  color: black;
}
