html{
  font-family: Arial, sans-serif;
}

h1 {
  margin-left: 35px;
}

.buttons {
  margin-top: 200px;
}

.play-btn {
  margin-left: 850px;
  background-color: rgb(50,95,215);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 65px;
  padding-left: 65px;
}

.play-btn:hover {
  transform: translate(-15px, 0);
  transition: transform 1s;
  cursor: pointer;
}

.about-btn {
  margin-left: 850px;
  background-color: rgb(52,100,215);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 65px;
  padding-left: 65px;
}

.about-btn:hover {
  transform: translate(-15px, 0);
  transition: transform 1s;
  cursor: pointer;
}

.settings-btn {
  margin-left: 850px;
  background-color: rgb(55,105,215);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 65px;
  padding-left: 65px;
}

.settings-btn:hover {
  transform: translate(-15px, 0);
  transition: transform 1s;
  cursor: pointer;
}

.signInPopUp {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(180,150,150,0.8);
  margin-left: 50px;
  margin-bottom: 250px;
  transition: 1s;
}

p {
  font-size: 25px;
  text-align: center;
  font-family: sans-serif, arial;
  text-color: rgb(220,210,210);
}




