html{
  font-family: Arial, sans-serif;
}

h1 {
  margin-left: 35px;
}

.buttons {
  margin-top: 200px;
}

.buttons:hover {
  cursor: pointer;
}

.play-btn {
  transform: translate(-15px);
  transform: transform 3s;
  margin-left: 850px;
  background-color: rgb(50,95,215);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 65px;
  padding-left: 65px;
}

.about-btn {
  transform: translate(-15px);
  transform: transform 3s;
  margin-left: 850px;
  background-color: rgb(52,100,215);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 65px;
  padding-left: 65px;
}

.settings-btn {
  transform: translate(-15px);
  transform: transform 3s;
  margin-left: 850px;
  background-color: rgb(55,105,215);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 65px;
  padding-left: 65px;
}
