body {
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRIepEkJiK90XL3olE5b1YM2ABEU2Tn4yVUpx9_pmN-ExvyEUvu');
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  color: #dcdcdc;
  font-size: 25px;
}

.header {
  padding: 10px 45px;
  background-color: rgb(27, 4, 42);
  border-radius: 20px;
  margin: 20px 0;
}

img {
  border-radius: 22px;
  width: 210px;
  transition: transform 1s, filter 1s, box-shadow 1s;
  filter: brightness(85%);
}

img:hover {
  transform: translate(0, -2.5px);
  filter: brightness(100%);
  box-shadow: 7px 7px 4px rgba(27, 4, 40, 0.5);
}

img:active {
  filter: brightness(25%);
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(80, 60, 70);
  border-radius: 200px;
  margin: 20px 0;
}

p {
  font-family: Arial;
  font-size: 22px;
  color: white;
  text-shadow: 0px 0px 0.5px rgb(200, 200, 200);
  padding-left: 15px;
}

.game-container {
  width: 900px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
}

.fulscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
}

footer {
  background-color: rgba(66, 61, 61, 0.1);
  padding: 10px 20px;
  border-radius: 200px;
  text-align: center;
  margin: 20px 0;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: rgba(150, 130, 166, 0.1);
  color: #fff;
  text-decoration: none;
  border-radius: 90px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgba(172, 151, 190, 0.1);
}
