body {
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRIepEkJiK90XL3olE5b1YM2ABEU2Tn4yVUpx9_pmN-ExvyEUvu');
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

.header {
  padding-left: 45px;
  padding-right: 300px;
  background-color: rgb(27, 4, 42);
  border-radius: 20px;
  padding-top: 2px;
}

img {
  border-radius: 22px;
  width: 210px;
  transition: transform 1s, filter 3s, all 2s;
  filter: brightness(85%);
}

img:hover{
  transform: translate(0, -2.5px);
  transition: transform 1s, filter 1s, all 1s;
  filter: brightness(100%);
  box-shadow: 7px 7px 4px rgba(27, 4, 40, 0.5);
}

img:active {
  transition: all 2s;
  filter: brightness(25%);
}

hr {
  color: rgb(80,60,70);
  border-color: rgb(80,60,70);
  border-radius: 200px;
}

p {
  font-family: Arial;
  font-size: 22px;
  color: white;
  text-shadow: 0px 0px 0.5px rgb(200,200,200);
  padding-left: 15px;
}

.game-iframe {
  position: relative;
}

iframe {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 55px;
  width: 780;
  margin-left: 20px;
}

.fulscreen {
  position: absolute;
  z-index: 99;
  left: 550px;
  top: 570px;
}

.fulscreen:active {
  box-shadow: 1px 1px 5px rgba(250, 30, 180, 0.8);
}

footer {
  background-color: rgba(66,61,61,0.1);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 200px;
  text-align: center;
  margin-right: 45px;
}

.center {
  margin-top: 155px;
  text-align: center;
}
